# Server Configuration
SERVER_PORT=8081

# Database Configuration
DB_HOST=portfolio-db
DB_PORT=3306
DB_NAME=portfoliohappy_db
DB_USERNAME=root
DB_PASSWORD=indigo@123

# AI API Configuration
AI_API_URL=https://api.groq.com/openai/v1/chat/completions
AI_API_KEY=your_api_key_here
AI_API_MODEL=llama-3.3-70b-versatile

# JWT Configuration
JWT_SECRET=your_jwt_secret_here

# Frontend Configuration
VITE_API_URL=http://localhost:8081/api
